.App {
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  margin: 5%;
}

.btn {
  margin: 0.5em;
  text-transform: capitalize;
}

.search-sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5em;
}
@media (max-width: 767px) {
  .search-sort {
    display: block;

  }
  
}

.card {
  gap: 0.5em;
  margin-bottom: 0.5em;
}

.btn {
  margin-bottom: 0.5em;
}

.card-title {
  margin: 1em;
  height: 40%;
  text-transform: capitalize;
  border-bottom: 3px solid #5f9ea0;
  font-family: 'PT Sans', sans-serif;
  font-weight: 800;

}

.card-body {
  height: 50%;
}

.prod-cat {
  text-transform: capitalize;
}
.prod-descrip {
  height: 40%;
  margin: 1em;
  font-size: 10px;
}

.price-stock {
  margin: 1em;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}